@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

body { 
  font-family: Montserrat, sans-serif;
  font-size:  13px;
  line-height:  18px;
  color:  #515076;
  background-image: url(image/bg_dandelions.png);
  background-size: 790px auto;
  background-repeat: no-repeat;
  background-position-x: calc(100%/2 - 160px);
}

.title {
  text-align: center;
  font-size:  70px;
  line-height:  78px;
  margin: 220px 0 110px 0;
}

.product_list {
  width: 1110px;
  list-style:  none;
  padding:  0;
  margin:  0 auto;
  display: flex;
  flex-wrap: wrap;
 gap: 45px;
  justify-content: center;
}

.category {
  font-size:  12px;
  line-height:  24px;
  color:  #A5A3B9;
  margin-top:  15px;
  margin-bottom:  5px;
}

.product_name {
  font-size:  20px;
  line-height:  27px;
  margin-top:  5px;
}

.compaund_list {
  margin-bottom: 25px;
}

.price_sum {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size:  20px;
  line-height:  24px;
  font-weight:  700;
  margin-top:  25px;
}

.sum {
  font-weight: 400;
  margin-left: 160px;
}

.product_card_box {
  box-sizing:  border-box;
  max-width:  340px;
  padding:  25px;
  background-color:  #F7F7FA;
}

.ingredients {
  margin:  5px;
}